/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: pink;
    padding: 20px;
    line-height: 1.6;
}

/* Estilos para o cabeçalho */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para a seção de navegação */
section {
    text-align: center;
    margin-bottom: 20px;
}

section a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}

/* Estilos para o vídeo */
iframe {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 100%;
    max-width: 800px; /* Limita a largura máxima */
    height: 400px; /* Altura fixa */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Estilos para o rodapé */


footer {
    text-align: center;
    margin-top: 750px;
    padding-top: 10px;
    background-color: #ddd;
    border-top: 1px solid #999;
}
